In [1]:
# pip install --upgrade pandas

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
ser = [4, 8, 15, 16, 23, 42,]

In [3]:
df = pd.DataFrame(ser)

In [4]:
ser = df[0]
ser

0     4
1     8
2    15
3    16
4    23
5    42
Name: 0, dtype: int64

In [5]:
print(type(ser))

<class 'pandas.core.series.Series'>

_____________

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [6]:
l1 = [i for i in range(1, 11)]
l2 = pd.DataFrame(l1)
print(l2[0], type(l2[0]))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: 0, dtype: int64 <class 'pandas.core.series.Series'>

___________

###  Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
tab1 = {'Name' : ['Alice', 'Bob', 'Claire'], 'Age' : [25, 30, 27], 'Gender': ['Female', 'Male', 'Female']}

In [8]:
df = pd.DataFrame(tab1).set_index('Name')
print(df)

        Age  Gender
Name
Alice    25  Female
Bob      30    Male
Claire   27  Female

_____________

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

>A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

>DataFrame or Data structure also contains labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects.
>Series is a colum of dataframe

In [9]:
data = {
  "Series1": [420, 380, 390],
  "Series2": [50, 40, 45]
}
# df is a dataframe
df = pd.DataFrame(data)
# ser is series
ser = df['Series1']
print(df, '\n','\n', ser)

   Series1  Series2
0      420       50
1      380       40
2      390       45

 0    420
1    380
2    390
Name: Series1, dtype: int64

________

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

> insert column, join, merge, slicing etc

In [10]:
# Insert Column in a dataframe
df['name']=[1,2,3]
df

   Series1  Series2  name
0      420       50     1
1      380       40     2
2      390       45     3

_________

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

pandas stands for panel data, a reference to the tabular format. It adopts significant parts of NumPy’s idiomatic style of array-based computing. While pandas adopts many coding idioms from NumPy, the biggest difference is that pandas is designed for working with tabular, heterogeneous data. NumPy, by contrast, is best suited for working with homogeneous numerical array data.

The key to learning pandas is to understand its data structures. A data structure is a collection of data values and defines the relationship between the data, and the operations that can be performed on the data. There are three main data structures in pandas:

Series — 1D
DataFrame — 2D
Panel — 3D




Q7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
import random, string
s1 = []
s2 = []

for i in range(10):
    s1.append(string.ascii_letters[i])
    s2.append(random.randint(i, i+5))

df = pd.DataFrame({'letter':s1, 'number':s2})
# Total Data Frame
print(df)
print(type(df))
# Series
print(df['letter'])
print(type(df['letter']))

  letter  number
0      a       3
1      b       1
2      c       2
3      d       5
4      e       6
5      f       7
6      g       8
7      h      10
8      i      12
9      j      13
<class 'pandas.core.frame.DataFrame'>
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
Name: letter, dtype: object
<class 'pandas.core.series.Series'>

In [12]:
t = string.ascii_letters
for i in t:
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z