### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans : In computing, a database is an organized collection of data stored and accessed electronically. Small databases can be stored on a file system, while large databases are hosted on computer clusters or cloud storage. 

> Type – 
>>SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

>Structure – 
>>SQL databases are table-based on the other hand NoSQL databases are either key-value pairs, document-based, graph databases or wide-column stores. This makes relational SQL databases a better option for applications that require multi-row transactions such as an accounting system or for legacy systems that were built for a relational structure. 

>Language – 
>>SQL databases defines and manipulates data based structured query language (SQL). 
A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. 

>Scalability – 
>>In almost all situations SQL databases are vertically scalable. This means that you can increase the load on a single server by increasing things like RAM, CPU or SSD. But on the other hand NoSQL databases are horizontally scalable. This means that you handle more traffic by sharding, or adding more servers in your NoSQL database.

_____________

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

>Data definition language (DDL) describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.

>CREATE
>>The CREATE TABLE command creates a new table in the database.

>>>CREATE TABLE 'DBNAME'.TableName ( PersonID int, LastName varchar(255), Pin int())

>DROP
>> Delete a table
>>>DROP TABLE 'DBNAME'.TableName

>ALTER
>>To add or Remove specific Column in Table
>>>alter Table DBNAME.TABLENAME add COLUM_NAME TYPE

>TRUNCATE
>> To Remove all data from a Table
>>>Truncate Table DBNAME.TABLENAME

_________

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

>DML(Data Manipulation Language): 
>>The SQL commands that deals with the manipulation of data present in the database belong to DML or Data Manipulation Language.

>INSERT
>>Insert Data to a Table
>>>Insert into DBNAME.TableName values('5','Sudiip Basu','55.15','student')
>>>>VALUES MUST BE IN SINGLE INVERTED COMMA

>UPDATE
>>UPDATE VALUES UPON SOME CONDITION
>>>"UPDATE  DBNAME.TableName SET column = '9' WHERE COLUMN_NAME = VALUE_IN_DB"

>DELETE
>>Delete row
>>>DELETE FROM DBNAME.TableName WHERE column_name = value

_________

### Q4. What is DQL? Explain SELECT with an example.

>DQL stands for Data Query Language
>>SELECT > is a keyword to perform a query .
>>>select column_name from DBNAME.TableName

_______________

### Q5. Explain Primary Key and Foreign Key.

>Primary key ::  A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
>Foreign Key :: A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

__________

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

________

### Q7. Give the order of execution of SQL clauses in an SQL query.

Order of Execution
SQL queries adhere to a specific order when evaluating clauses, similar to how mathematical operations adhere to PEMDAS or BIDMAS.

From the eyes of the user, queries begin from the first clause and end at the last clause. However, queries aren’t actually read from top to bottom when carried out.

The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.