### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

> MongoDB is a document database with the scalability and flexibility that you want with the querying and indexing that you need.

>Non-relational databases are sometimes referred to as “NoSQL,” which stands for Not Only SQL. The main difference between these is how they store their information. A non-relational database stores data in a non-tabular form, and tends to be more flexible than the traditional, SQL-based, relational database structures. It does not follow the relational model provided by traditional relational database management systems.

>NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn’t fit well into the schema of a relational database, when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

______

### Q2. State and Explain the features of MongoDB.

>Ad-hoc queries for optimized, real-time analytics

>>MongoDB supports field queries, range queries, and regular expression searches. Queries can return specific fields and also account for user-defined functions. This is made possible because MongoDB indexes BSON documents and uses the MongoDB Query Language (MQL)

>Indexing appropriately for better query executions
>>MongoDB indices can be created on demand to accommodate real-time, ever-changing query patterns and application requirements. They can also be declared on any field within any of your documents, including those nested within arrays.
>Replication for better data availability and stability
>>In MongoDB, replica sets are employed for this purpose. A primary server or node accepts all write operations and applies those same operations across secondary servers, replicating the data. If the primary server should ever experience a critical failure, any one of the secondary servers can be elected to become the new primary node. And if the former primary node comes back online, it does so as a secondary server for the new primary node.

>Sharding

>>All operations in a sharding environment are handled through a lightweight process called mongos. Mongos can direct queries to the correct shard based on the shard key. Naturally, proper sharding also contributes significantly to better load balancing.

>Load balancing

>>Horizontal scaling features like replication and sharding, MongoDB supports large-scale load balancing. The platform can handle multiple concurrent read and write requests for the same data with best-in-class concurrency control and locking protocols that ensure data consistency. There’s no need to add an external load balancer—MongoDB ensures that each and every user has a consistent view and quality experience with the data they need to access.

_______________

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills:pwskills@cluster0.ln0bt5m.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db = client['sudiip']
coll_sudiip = db["sudip_record"]
data = {"name" : "sudiip" , 
        "class" :"data science masters " ,
        "time" : "mainly Nighy"}
coll_sudiip.insert_one(data)

__________

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [3]:
#  Insert One dataset
data1 = {"mail_id" : "sudh@gmail.com",
         "phone_number " : 2323424324,
         "addr" : "bangalore"
}
coll_sudiip.insert_one(data1)

In [4]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
coll_sudiip.insert_many(data2)

In [6]:
for i in coll_sudiip.find():
    print(i)

{'_id': ObjectId('63f06151b658f6e9b1fd72e3'), 'name': 'sudiip', 'class': 'data science masters ', 'time': 'mainly Nighy'}
{'_id': ObjectId('63f062caeadd3ec386e31b97'), 'name': 'sudiip', 'class': 'data science masters ', 'time': 'mainly Nighy'}
{'_id': ObjectId('63f062daeadd3ec386e31b98'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06300eadd3ec386e31b99'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06351eadd3ec386e31b9a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f06351eadd3ec386e31b9b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f06351eadd3ec386e31b9c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f06351eadd3ec386e31b9d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f06351eadd3ec386e31b9e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f06351eadd3ec386e31b9f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f06351eadd3ec386e31ba0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f06351eadd3ec386e31ba1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f06351eadd3ec386e31ba3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f06351eadd3ec386e31ba4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f06351eadd3ec386e31ba5'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [7]:
for i in coll_sudiip.find_one():
    print(i)

_id
name
class
time

_______________

___________________

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [27]:
### First write query as json then pass it in find method
query = {'address': 'Apple st 652'}
for i in coll_sudiip.find(query):
    print(i)

{'_id': ObjectId('63f06351eadd3ec386e31b9a'), 'name': 'Amy', 'address': 'Apple st 652'}

___________________

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

>MongoDB does not store documents in a collection in a particular order. When sorting on a field which contains duplicate values, documents containing those values may be returned in any order.

>If consistent sort order is desired, include at least one field in your sort that contains unique values. The easiest way to guarantee this is to include the _id field in your sort query.

In [43]:

for i in coll_sudiip.find().sort("name"):
    print(i)

{'_id': ObjectId('63f062daeadd3ec386e31b98'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06300eadd3ec386e31b99'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06351eadd3ec386e31b9a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f06351eadd3ec386e31ba2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f06351eadd3ec386e31b9e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f06351eadd3ec386e31ba4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f06351eadd3ec386e31b9b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f06351eadd3ec386e31b9c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f06351eadd3ec386e31b9f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f06351eadd3ec386e31b9d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f06351eadd3ec386e31ba1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f06351eadd3ec386e31ba3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f06151b658f6e9b1fd72e3'), 'name': 'sudiip', 'class': 'data science masters ', 'time': 'mainly Nighy'}
{'_id': ObjectId('63f062caeadd3ec386e31b97'), 'name': 'sudiip', 'class': 'data science masters ', 'time': 'mainly Nighy'}

_____________

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [50]:
#  Delete_one used to delete a single record
coll_sudiip.delete_one({"name" : "Amy"})

In [51]:
for i in coll_sudiip.find().sort("name"):
    print(i)

{'_id': ObjectId('63f062daeadd3ec386e31b98'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06300eadd3ec386e31b99'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06351eadd3ec386e31ba2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f06351eadd3ec386e31b9e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f06351eadd3ec386e31ba4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f06351eadd3ec386e31b9b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f06351eadd3ec386e31b9c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f06351eadd3ec386e31b9f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f06351eadd3ec386e31b9d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f06351eadd3ec386e31ba1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f06351eadd3ec386e31ba3'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f06151b658f6e9b1fd72e3'), 'name': 'sudiip', 'class': 'data science masters ', 'time': 'mainly Nighy'}
{'_id': ObjectId('63f062caeadd3ec386e31b97'), 'name': 'sudiip', 'class': 'data science masters ', 'time': 'mainly Nighy'}

In [54]:
#  Delete_one used to delete a many record
coll_sudiip.delete_many({"name" : "sudiip"})

In [55]:
for i in coll_sudiip.find().sort("name"):
    print(i)

{'_id': ObjectId('63f062daeadd3ec386e31b98'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06300eadd3ec386e31b99'), 'mail_id': 'sudh@gmail.com', 'phone_number ': 2323424324, 'addr': 'bangalore'}
{'_id': ObjectId('63f06351eadd3ec386e31ba2'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f06351eadd3ec386e31b9e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f06351eadd3ec386e31ba4'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f06351eadd3ec386e31b9b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f06351eadd3ec386e31b9c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f06351eadd3ec386e31b9f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f06351eadd3ec386e31b9d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba0'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f06351eadd3ec386e31ba1'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f06351eadd3ec386e31ba5'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f06351eadd3ec386e31ba3'), 'name': 'William', 'address': 'Central st 954'}

In [59]:
#  Drop is used to Delete DataBase
coll_sudiip.delete_many({"name" : "sudiip"})

In [60]:
coll_sudiip.drop()

In [61]:
for i in coll_sudiip.find():
    print(i)

______________